.leftcolumn {
  width: 170px;
  height: auto;
  float: left;
}

.welcome {
  clear: both;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 1.2em 0 6px;
  min-width: 47em;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #000;
  white-space: nowrap;
}

#mw-panel {
  font-size: inherit;
  position: absolute;
  top: 0;
  width: 10em;
  left: 0;
}

#mw-panel ul {
  list-style-type: none;
  float: right;
}

#mw-head {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

#p-personal {
  position: absolute;
  top: 0.33em;
  right: 0.75em;
  z-index: 100;
}

.liststyle1 {
  list-style-type: none;
}
.flright {
  float: right;
}

.flleft {
  float: left;
}
